/* Style général pour le header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007aff;
    position: relative;
    z-index: 1000;
  }
  
  .logo {
    height: 50px;
  }
  
  .nav {
    position: relative;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
  }
  
  .nav-list li {
    margin-left: 20px;
  }
  
  .nav-list li a, .nav-list li button {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .nav-list li button:hover, .nav-list li a:hover {
    color: #f0f0f0;
  }
  
  /* Styles pour le menu burger */
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: 0.3s;
  }
  
  /* Media Queries pour le responsive */
  @media (max-width: 768px) {
    .nav-list {
      position: absolute;
      top: 100%; /* Juste en dessous du header */
      right: 0;
      background-color: #007aff;
      flex-direction: column;
      width: 100%; /* Occuper toute la largeur de l'écran */
      text-align: center;
      display: none;
      z-index: 1000;
    }
  
    .nav-list.open {
      display: flex; /* Affiche le menu burger quand il est ouvert */
    }
  
    .nav-list li {
      margin: 15px 0;
    }
  
    .burger {
      display: flex;
    }
  
    .burger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .burger.active span:nth-child(2) {
      opacity: 0;
    }
  
    .burger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
  
  /* Correction pour éviter le chevauchement */
  .user-management-page {
    margin-top: 60px; /* Laisse de l'espace pour le menu déroulant */
  }
  