body {
    height: 100%;
    margin: 0;
}

/* Conteneur principal qui occupe toute la hauteur de la page */
.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligne le contenu en haut de la page */
    align-items: center; /* Centre horizontalement le contenu */
    background-color: rgba(0, 122, 255, 0.15); /* Couleur de fond avec 15% d'opacité */
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0; /* Ajoute un espace autour du titre */
    text-align: center; /* Centre le titre */
}


.paragraph-container {
    border: 1px solid rgba(0, 122, 255, 0.5); 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 10px; 
    background-color: white; 
}

.buttons-container {
    display: flex;
    justify-content: space-around; 
    width: 80%; 
    margin-top: 10px;
}

.start-button,
.learn-more-button {
    background-color: #007AFF; 
    color: white;
    border: none;
    padding: 8px 12px; 
    font-size: 14px; 
    border-radius: 8px; 
    cursor: pointer;
    width: auto;
    min-width: 100px; 
    max-width: 120px;
    margin: 0 10px;  
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.2s;
}

.start-button:hover,
.learn-more-button:hover {
    background-color: #005BB5; /* Couleur au survol */
    transform: translateY(-2px); /* Léger effet de soulèvement au survol */
}