/* Centrage du conteneur de connexion */
.login-container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Titre de la page de connexion */
.login-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Messages de succès */
.success-message {
  color: green;
  margin-top: 15px;
}

/* Messages d'erreur */
.error-message {
  color: red;
  margin-top: 15px;
}

/* Style des labels */
.login-container label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
}

/* Style des champs d'entrée */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Bouton de soumission */
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007AFF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px; /* Ajout d'espace au bas du bouton pour les messages */
}

/* Effet au survol du bouton */
.login-container button:hover {
  background-color: #005BB5;
}

/* Lien pour mot de passe oublié */
.forgot-password-link {
  margin-top: 15px;
  font-size: 14px;
  color: #007AFF;
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;
}

/* Lien pour inscription */
.signup-link {
  margin-top: 10px;
  font-size: 14px;
  color: #007AFF;
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;
}

/* Effet au survol des liens */
.forgot-password-link:hover,
.signup-link:hover {
  color: #005BB5;
}
