.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #e6f0ff;
  padding: 20px;
}

.profile-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.profile-info p {
  font-size: 1.1rem;
  color: #333; /* Informations de profil en noir */
  margin: 10px 0;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.profile-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.profile-button {
  background-color: #007aff;
  color: white;
  border: none;
  padding: 10px 20px; /* Dimensions du bouton ajustées */
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px; /* Espacement autour des boutons */
  width: auto; /* Pour éviter que le bouton prenne toute la largeur */
}

.profile-button:hover {
  background-color: #005bb5;
}

.success-message {
  color: green; /* Message de succès en vert */
  font-size: 1rem;
  margin-bottom: 20px;
}

.error-message {
  color: red; /* Message d'erreur en rouge */
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Pour mobile */
@media (max-width: 600px) {
  .profile-info {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .profile-button {
    font-size: 0.9rem;
    padding: 10px 15px;
    width: auto; /* Assurez-vous que les boutons ne s'étendent pas trop sur mobile */
  }
}

