/* LoginPage.css ou SignupPage.css selon le fichier que vous utilisez */
.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #0056b3;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 30px;  /* Augmentez la marge pour plus d'espace entre le bouton et le lien */
  font-size: 14px;
}

.login-link a {
  text-decoration: none;
  color: #000;
}
