/* Container principal */
.user-management-page {
    padding: 20px;
    background-color: #e6f0ff; /* Couleur bleu clair */
    border-radius: 15px; /* Arrondir les bords */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    margin: 20px auto;
    max-width: 90%; /* Limite de la largeur */
  }
  
  /* Titre principal */
  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Table pour la liste des utilisateurs */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* En-tête de table */
  table th {
    background-color: #dfefff;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid #cccccc;
  }
  
  /* Cellules du tableau */
  table td {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
  }
  
  /* Boutons de modifier et supprimer */
  table td button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Icones dans les boutons */
  table td button img {
    width: 20px;
    height: 20px;
  }
  
  .edit-icon {
    color: #007AFF; /* Couleur bleu pour modifier */
  }
  
  .delete-icon {
    color: red; /* Couleur rouge pour supprimer */
  }
  
  /* Recherche */
  .search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    flex: 1;
    margin-right: 10px;
  }
  
  .search-container button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .pagination a {
    margin: 0 5px;
    padding: 10px;
    color: #007AFF;
    text-decoration: none;
    border: 1px solid #007AFF;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .pagination a:hover {
    background-color: #007AFF;
    color: white;
  }
  